.header{
    flex-basis: 100%;text-align: center;
    padding-bottom: 3rem;position: relative;
    padding-right: 1rem;
}
.welcome{
    padding: 0.5rem 0;
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0 0 4px 0 var(--blue);
    border-radius: 2px;
}
.profSvg{width: 3rem;    fill: currentColor;}