.sidebar{
    overflow-y: auto;overflow-x: hidden;

}
.links{transition: all ease .8s;display: flex;
    align-items: center;
    padding: 2rem 1rem;    width: 100%;
}
.aside{
    display: flex;
    flex-direction: column;
    transition: all ease .8s ;
    width: 35rem;
    overflow: hidden;padding-top: 2rem;
}
.close{
width: 7rem;
}
.close .links{
    justify-content: center !important;
}
.hr{border-bottom: 1px solid var(--lightBlue);}
.logo {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: contain;
}
.profSvg{
    width: 3rem;height:  3rem;    fill: currentColor;
    cursor: pointer;
}
.activedLink{
    color: var(--lightBlue);background-color: var(--white);
}
.linkSpans{
    padding-right: .6rem;
    text-align: right;
    white-space:nowrap;
}
.littleName{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1rem;
}
.buttonBase{
    width: 100%;
}
.openedMenu{
    justify-content: unset !important;
}
.menuButtonBase{
    color: var(--black);
    max-width: calc(100% - 2rem);
    padding: 0.5rem 1rem;
}
@media screen and (max-width: 900px) {

    .open{
        z-index: 10;
        position: fixed;
        background-color:var(--gray);
        bottom: 0;
        top: 0;
        box-shadow:0 0 1000px 1000px rgb(var(--realBlack-rgb),0.8), inset 0 0 6px
    }
}
